@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

p{
    position: relative;
    text-align: center;
    top: 30vh;
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 7vmax;
    z-index: 1;
}


